[project]
name = "toyota"
description = "Toyota Connected Services EU community integration for Home Assistant"
license = "MIT"
version = "v2.1.0"
authors = [
            {name = "CM000n", email = "simon.hoerrle@gmail.com"},
            {name = "deejay1", email = "deejay1@srem.org"}
            ]
requires-python = '>=3.13,<3.14'
dynamic = ["dependencies"]

[tool.poetry]
package-mode = false
requires-poetry = '>=2.0'

[tool.poetry.dependencies]
arrow = "^1.3"
homeassistant = "^2025.0.0"
pytoyoda = "^4.1.0"

[tool.poetry.group.dev.dependencies]
homeassistant-stubs = "^2026.0.0"
pre-commit = "^4.1"
voluptuous-stubs = "^0.1"
pytest = "^8.3"
pytest-asyncio = "^0.26"
pytest-homeassistant-custom-component = "^0.13"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = "tests"
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.ruff]
fix = true
extend-exclude = ["tests"]
lint.select = ["ALL"]
lint.extend-ignore = ["D203", "D213", "COM812"]
lint.pydocstyle.convention = "google"
format.docstring-code-format = true
